name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure sysctl limits
        if: ${{ !env.ACT }}
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Restore tools
        run: dotnet tool restore
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Run Tests
        run: dotnet test --no-build --no-restore

#      - name: Runs Elasticsearch
#        if: ${{ !env.ACT }}
#        uses: elastic/elastic-github-actions/elasticsearch@master
#        with:
#          stack-version: 7.6.0
#          port: 9200
#          nodes: 1
#
#      - name: Run Sample GitHub
#        if: ${{ !env.ACT }}
#        run: |
#          export FES_ES_SERVER=http://es1:9200/
#          export FES_ES_INDEX_NAME=gh_index_$(date +%s)
#          dotnet run --project ./src/Fes.Sample/Fes.Sample.fsproj --no-build
#
#      - name: Run Sample Local
#        if: ${{ env.ACT }}
#        run: |
#          export FES_ES_SERVER=http://localhost:9200/
#          export FES_ES_INDEX_NAME=index_$(date +%s)
#          dotnet run --project ./src/Fes.Sample/Fes.Sample.fsproj --no-build